@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';
.mdi {
    font-family: 'materialdesignicons-webfont', 'Material Design Icons';
}
MDTabStrip {
    selected-item-color: #bff937;
    un-selected-item-color: #404040;
    highlight-color: #4CFFFF;
}