<ActionBar title="Demo" class="action-bar"></ActionBar>
<GridLayout rows="*, auto">
  <StackLayout
    class="page"
    [ngSwitch]="bottomNavigationBar.selectedTabIndex"
    row="0"
  >
    <ns-first-tab *ngSwitchDefault></ns-first-tab>
    <ns-third-tab *ngSwitchCase="2"></ns-third-tab>
  </StackLayout>

  <BottomNavigationBar
    #bottomNavigationBar
    row="1"
    class="custom-bottom-navigation-bar"
    (loaded)="onbottomNavigationBarLoaded()"
    (tabPressed)="onBottomNavigationTabPressed($event)"
    (tabSelected)="onBottomNavigationTabSelected($event)"
    (tabReselected)="onBottomNavigationTabReselected($event)"
  >
    <BottomNavigationTab
      title="First"
      icon="res://ic_home"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Second"
      icon="res://ic_view_list"
      [isSelectable]="false"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Third"
      icon="res://ic_menu"
    ></BottomNavigationTab>
  </BottomNavigationBar>
</GridLayout>
