# NativeScript
hooks/
node_modules/
/platforms/

# NativeScript Template
*.js.map
!ngcc.config.js
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.gradle
.project
.yarn
.cxx
tmp/

!.eslintrc.js
!.prettierrc.js

!e2e/*.js
!detox.config.js
devices.js

*.framework
*.xcframework
**/*.js.map
src/**/*.js
packages/**/*.js
packages/**/*.d.ts
bin
build
Pods
!packages/platforms
/packages/**/*.aar
/demo-snippets/**/*.aar
*.xcuserdatad
/packages/README.md
packages/**/*js.map
packages/**/*js
packages/**/angular/*.json
packages/*.ngsummary.json
packages/*.metadata.json
packages/angular
packages/typings

/blueprint.md