.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/karma.conf.js
!dev_demo/karma.conf.js
!demo/app/tests/*.js
!dev_demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
dev_demo/*.d.ts
!dev_demo/references.d.ts
demo/lib
demo/platforms
dev_demo/platforms
node_modules
publish/src
publish/package
demo/report
dev_demo/report
