[submodule "demo-react"]
	path = demo-react
	url = https://github.com/nativescript-community/plugin-seed-demo-react.git
[submodule "demo-svelte"]
	path = demo-svelte
	url = https://github.com/nativescript-community/plugin-seed-demo-svelte.git
[submodule "demo-ng"]
	path = demo-ng
	url = https://github.com/nativescript-community/plugin-seed-demo-ng.git
[submodule "demo-vue"]
	path = demo-vue
	url = https://github.com/nativescript-community/plugin-seed-demo-vue.git
[submodule "tools"]
	path = tools
	url = https://github.com/nativescript-community/plugin-seed-tools.git
