shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=source-map-support
public-hoist-pattern[]=ts-patch
public-hoist-pattern[]=typescript
public-hoist-pattern[]=cpy-cli
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false
loglevel=error
engine-strict=true
