<StackLayout padding="24">
    <Label
        text="Default Slider"
        padding="10"></Label>
    <MDSlider
        elevation="3"
        rippleColor="blue"
        value="40"
        minValue="0"
        maxValue="100"></MDSlider>
    <Label
        text="Green slider without hollow at 0"
        padding="10"></Label>
    <MDSlider
        thumbHollowAtStart="false"
        color="green"
        value="40"
        minValue="0"
        maxValue="100"></MDSlider>
    <Label
        text="Disabled slider"
        padding="10"></Label>
    <MDSlider
        isEnabled="false"
        value="40"
        minValue="0"
        maxValue="100"></MDSlider>
</StackLayout>
