<MDTabs selectedIndex="1">
  <!-- The bottom tab UI is created via MDTabStrip (the containier) and MDTabStripItem (for each tab)-->
  <MDTabStrip >
    <MDTabStripItem>
      <Label text="Home"></Label>
      <Image src="res://ic_home"></Image>
    </MDTabStripItem>
    <MDTabStripItem>
      <Label text="Account"></Label>
      <Image src="res://ic_view_list"></Image>
    </MDTabStripItem>
    <MDTabStripItem>
      <Label text="Search"></Label>
      <Image src="font://&#xF349;" class="mdi"></Image>
    </MDTabStripItem>
  </MDTabStrip>

  <!-- The number of MDTabContentItem components should corespond to the number of MDTabStripItem components -->
  <MDTabContentItem>
    <GridLayout>
      <Label text="Home Page" class="h2 text-center"></Label>
    </GridLayout>
  </MDTabContentItem>
  <MDTabContentItem>
    <GridLayout>
      <Label text="Account Page" class="h2 text-center"></Label>
    </GridLayout>
  </MDTabContentItem>
  <MDTabContentItem>
    <GridLayout>
      <Label text="Search Page" class="h2 text-center"></Label>
    </GridLayout>
  </MDTabContentItem>
</MDTabs>