<FlexboxLayout
    padding="24"
    flexDirection="column"
    justifyContent="space-around"
    alignItems="center"
>
    <MDActivityIndicator busy="true"></MDActivityIndicator>
    <MDActivityIndicator
        color="red"
        busy="true"
    ></MDActivityIndicator>
    <MDActivityIndicator
        width="30"
        busy="true"
    ></MDActivityIndicator>
    <MDActivityIndicator
        width="50"
        busy="true"
    ></MDActivityIndicator>
    <MDActivityIndicator
        width="100"
        busy="true"
    ></MDActivityIndicator>
</FlexboxLayout>
