<MaterialCard margin="20" rippleColor="green" borderRadius="10">
    <StackLayout horizontalAlignment="center">
        <MaterialTextField #textField1 helper="help me!" width="250" backgroundColor="orange" placeholderColor="green" keyboardType="datetime"
            hint="i am an hint" returnKeyType="next" (focus)="onFocus('textfield1',$event)" (blur)="onBlur('textfield1',$event)"
            (textChange)="onTextChange('textfield1',$event)"></MaterialTextField>
        <MaterialTextField #textField2 maxLength="10" hint="hint me" (returnPress)="returnPress(textField2.text,$event)"></MaterialTextField>
        <MaterialTextField #textField3 variant="outline" hint="outline"></MaterialTextField>
        <MaterialTextField  variant="filled" required email hint="fill this out..." [(ngModel)]="textField" #element #elementModel="ngModel" [error]="
        elementModel.errors? (elementModel.errors['email'] ?'invalid mail' : (elementModel.errors['required'] ?'required' : null)):null"></MaterialTextField>
    </StackLayout>
    
</MaterialCard> 