<ActionBar title="Card View"></ActionBar>
<ScrollView>
    <StackLayout>
        <MDCardView margin="16">
            <StackLayout padding="24">
                <Label
                    text="Default card styles"
                    fontSize="20"
                    marginBottom="16"
                ></Label>
                <Label
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue vulputate metus, et gravida libero bibendum vitae. Vivamus dui erat, varius vitae dui vitae, scelerisque tincidunt felis"
                    textWrap="true"
                ></Label>
            </StackLayout>
        </MDCardView>
        <MDCardView
            margin="16"
            rippleColor="red"
        >
            <StackLayout padding="24">
                <Label
                    text="Card with red ripple color"
                    textWrap="true"
                    fontSize="20"
                    marginBottom="16"
                ></Label>
                <Label
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue vulputate metus, et gravida libero bibendum vitae. Vivamus dui erat, varius vitae dui vitae, scelerisque tincidunt felis"
                    textWrap="true"
                ></Label>
            </StackLayout>
        </MDCardView>
        <MDCardView
            margin="16"
            isUserInteractionEnabled="false"
            elevation="10"
        >
            <StackLayout padding="24">
                <Label
                    text="Card with elevation 10 and no ripple"
                    textWrap="true"
                    fontSize="20"
                    marginBottom="16"
                ></Label>
                <Label
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue vulputate metus, et gravida libero bibendum vitae. Vivamus dui erat, varius vitae dui vitae, scelerisque tincidunt felis"
                    textWrap="true"
                ></Label>
            </StackLayout>
        </MDCardView>
    </StackLayout>
</ScrollView>
