<StackLayout padding="24">
    <MDTextField
        variant="filled"
        hint="fill this out..."
    ></MDTextField>
    <MDTextField
        hint="i am an hint"
        helper="help me!"
        returnKeyType="next"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (textChange)="onTextChange($event)"
    ></MDTextField>
    <MDTextField
        maxLength="10"
        hint="hint me"
        (returnPress)="returnPress($event)"
    ></MDTextField>
    <MDTextField
        variant="outline"
        hint="outline"
    ></MDTextField>
</StackLayout>

