
mdbutton {
}

.falseFAb {
    elevation: 2;
    font-size: 40;
    border-radius: 32;
    width: 64;
    height: 64;
    margin:30;
}

.buttonYellow {
    background-color: yellow;
}
mdslider {
    /* track-background-color: #E0E0E0; */
}

.item-with-border {
    height: 50;
    border-bottom-color: green;
    border-bottom-width: 2;
}

.cardviewtest {
    border-color: green;
    border-width:4;
    border-radius: 20;
    ripple-color:blue;
    elevation:5;
    background-color: lightgray;
}