.mdi {
    font-family: 'materialdesignicons-webfont', 'Material Design Icons';
}
button {
    elevation: 2;
}

// page {
//     background-color: black;
// }

.falseFAb {
    elevation: 2;
    font-size: 26;
    border-radius: 28;
    width: 56;
    height: 56;
    margin: 16;
}
bottomnavigationbar {
    active-color: #1b1edb;
    inactive-color: #683131;
    background-color: #ddd;
    badge-color: green;
    badge-text-color: yellow;
}

.buttonYellow {
    background-color: yellow;
}

.item-with-border {
    height: 50;
    border-bottom-color: green;
    border-bottom-width: 2;
}

.cardviewtest {
    border-color: green;
    border-width: 4;
    border-radius: 20;
    ripple-color: blue;
    elevation: 5;
    background-color: lightgray;
}

.cardView {
    margin: 20;
    border-radius: 2;
    elevation: 2;
    dynamic-elevation-offset: 5;
    ripple-color: red;
    background-color: white;
}
